 * {
     margin: 0;
     padding: 0;
/*      box-sizing: border-box;
     border: 1px solid red;
     border-collapse: collapse; */
 }

 h1 {
     font-size: 48px;
     font-weight: 600;
     line-height: 58px;
     text-transform: capitalize;
     color: #FFFFFF;
     padding: 25px 0 0 30px;
     margin-bottom: 35px;
     position: relative;

 }

 body {
     font-family: 'Montserrat', sans-serif;
 }

 header {
     height: 65px;
     background: #161c35;
 }

 .main-wrapper {
     margin: 0 auto;
     width: 1170px;
     padding: 0 15px;

     /* Можно задать для класса main-menu правило margin-left: auto. */
 }

 header .main-wrapper {
     height: 100%;

     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .main-menu > ul > li {
     display: inline-block;
 }

 .main-menu > ul > li > a {
     color: white;
     text-decoration: none;
     font-weight: 400;
     letter-spacing: 1px;
     margin-right: 15px;
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
     position: relative;
 }

 .main-menu > ul > li > a::after {
     content: "";
     width: 10%;
     height: 3px;
     background: #00D5C3;
     position: absolute;
     left: 0;
     right: 0;
     margin: 0 auto;
     top: 25px;
     transition-duration: 0.3s;
     opacity: 0;
 }

 .main-menu > ul > li > a:hover::after {
     opacity: 1;
     width: 100%;
 }


 .main-menu > ul > li:last-child > a {
     margin-right: 0;
 }

 .main-board {
     height: 500px;
     background: url(src/bg.jpg);
     background-size: cover;
     background-position: 50% -50px;
     position: relative;
 }

 .main-board::after {
     content: "";
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     position: absolute;
     background: rgba(33, 42, 73, 0.6);
 }

 .main-board .main-wrapper {
     display: flex;
     align-items: center;
     height: 100%;
     position: relative;
     z-index: 2;
 }

 .mb_left-block {
     width: 50%;
 }

 .main-board .main-wrapper > img {
     margin: auto;
 }

 .main-board h1::before {
     content: "";
     width: 115px;
     height: 5px;
     position: absolute;
     background: #00D5C3;
     top: 0;
     left: 0;
 }

 .main-board h1::after {
     content: "";
     height: 115px;
     width: 5px;
     position: absolute;
     background: #00D5C3;
     top: 0;
     left: 0;
 }
